@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    margin: 0 auto;
    background: #FAFAF9;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.card {
    background: #ffffff;
    max-width: 25%;
}

.content {
    padding: 16px;
}

.image {
    max-width: 100%;
    padding-bottom: 16px;
}

.tag {
    background-color: #E6D6FC;
    color: #883AE1;
    padding: 4px;
    max-width: 15%;
    text-align: center;
    font-weight: bold;
    font-size: 0.625rem;
}

.rounded-border-2 {
    border-radius: 12px;
}

.color-black {
    color: #20293A;
}

.color-dark-grey {
    color: #6C727F;
}

.rounded-border {
    border-radius: 8px;
}

.title {
    margin-top: 16px;
    margin-bottom: 6px;
}

.subtitle {
    color: #6C727F;
    font-size: 14px;
}

.footer {
    border-top: 1px solid #6C727F;
    padding: 20px;
    color: #6C727F;
    font-size: 12px;
}


@media screen and (min-width: 720px) {}